/* 040301 */

div {
	border-color: #FF0000;
}

/* #040302 */

div {
  border-color: #00FF00;
}


/* #040303 */

div {
  border-color: rgb(0,0,0, .5);
}


/* #040304 */

div {
  border-color: ffa07a;
}
